$dark-color: {{ .Site.Params.style.darkColor | default "#153032" }};
$darkest-color: {{ .Site.Params.style.darkestColor | default "#1c2526" }};
$light-color: {{ .Site.Params.style.lightColor | default "#87b177" }};
$lightest-color: {{ .Site.Params.style.lightestColor | default "#dddddd" }};
$primary-color: {{ .Site.Params.style.primaryColor | default "#c8c42a" }};

@import 'base';

@import 'components/app';
@import 'components/error_404';
@import 'components/icon';
@import 'components/pagination';
@import 'components/post';
@import 'components/posts_list';
@import 'components/tag';
@import 'components/tags_list';

// The last 'extra' import can optionally be overridden on a per project
// basis by creating a <HUGO_PROJECT>/assets/css/_extra.scss file.
@import 'extra';
