.app-header {
  padding: 2.5em;
  background: $dark-color;
  text-align: center;
}

.app-header-avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
  background: $darkest-color;
}

.app-container {
  padding: 2.5rem;
}

.app-header-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  color: $lightest-color;

  a:not(:last-child) {
    margin-right: 0.6em;
  }
}

.app-header-title {
  color: $lightest-color;
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
}

@media (min-width: 940px) {
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }
}
